/*--------------------------------NAVIGATION----START-------------------------------------------------------- */
		nav {
		    background: white;
		    padding: 0.5em 0;
		    overflow: hidden;
		    margin: -3px auto;
		}

		nav > a {
			display: block;
			color:white;
			line-height:2em;
			text-decoration:none;
		}

		.nav-logo {
			padding: 0 1em;
			float:left;
		}

		.nav-button {
			float:left;
			padding:0 1em;
			color:#777;
		}

		.nav-pricing {
			float:left;
			padding:0 1em;
			color:black;
		}

		.nav-logo > img {
			height: 2em;
			display:inline-block;
			float:left;
			padding-right:1em;
		}
	/*--------------------------------NAVIGATION----END-------------------------------------------------------- */


	/*--------------------------------JUMBOTRON-IMAGE-START------------------------------------------------------------ */
		section.img-placeholder {
	    overflow: hidden;
	    text-align: center;
	    padding: 2.3em 0 2.3em 0;
	    font-size: 2.2em;
	    font-weight: 100;
	    color: white;
	    background: url(../images/background.png) top left no-repeat;
	    height: 39px;
		}

		h2.simple-pricing {
	    margin-top: -30px;
	    text-align: center;
	    color: white;
	    font-family: sans-serif;
	    font-weight: 500;
	    font-size: xx-large;
		}

		h2.try-before {
	    margin-left: 22px;
	    margin-top: -27px;
	    font-family: sans-serif;
	    font-weight: 500;
	    font-size: xx-large;
	    color: white;
		}
	/*--------------------------------JUMBOTRON-IMAGE-END------------------------------------------------------------ */

	/*--------------------------------SECTION 2---------------------------------------------------------------------- */
		section.pricing-section-2 {
    margin-top: 69px;
    /* padding-right: 26px; */
    /* padding-left: 26px; */
    padding: 0 26px;
	}

	section.pricing-image {
    width: 384px;
    height: 221;
    background-color: #519251;
    margin-left: 16px;
    margin-top: -21px;
    padding: 20px 0;
	}

h4.text-personal {
    text-align: center;
    line-height: 2em;
    letter-spacing: 3px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
}

h1.text-pricing {
    text-align: center;
    margin: -28px auto;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 6.5em;
}

h2.per-month {
    text-align: center;
    line-height: 3.95em;
    font-family: sans-serif;
    font-weight: 500;
    font-size: larger;
    color: #95A3C2;
    margin-top: 23px;
}

ul {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    line-height: 3;
    background: #f7f7f7;
    border: 1px solid #dddddd;
    padding: 0;
    margin-top: -15px;
}

li {
    border-bottom: 1px solid #e7e7e7;
    text-decoration: none;
}

.choose-button {
    background-color: white;
    height: 85px;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    margin-top: -16px;
}

button {
    margin-left: 136px;
    margin-top: 21px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid grey;
    height: 42px;
    width: 127px;
}

	

	/*--------------------------------SECTION 2---------END------------------------------------------------------------- */
	/*--------------------------------SECTION 3---------START------------------------------------------------------------- */
section.pricing-section-3 {
    margin-top: 431px;
    padding: 0 26px;
}

section.pricing-image-3 {
    width: 384px;
    height: 221;
    background-color: #2C498E;
    margin-left: 16px;
    margin-top: -21px;
    padding: 20px 0;
}

	/*--------------------------------SECTION 3---------END------------------------------------------------------------- */


	/*--------------------------------SECTION 4---------START------------------------------------------------------------- */
section.pricing-section-4 {
	margin-top: 431px;
	padding: 0 26px;
	}



section.pricing-image-4 {
    width: 384px;
    height: 221;
    background-color: #111111;
    margin-left: 16px;
    margin-top: -21px;
    padding: 20px 0;
}

	/*--------------------------------SECTION 4---------END------------------------------------------------------------- */

	/*--------------------------------GET STARTED---------START------------------------------------------------------------- */
section.section-get-started {
    margin-top: 406px;
    padding: 49px;
}

h2.get-started {
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 23px;
    text-align: left;
}

p.get-started-p {
    line-height: 23px;
}

section.section-pay-monthly {
	margin-top:-2em;
	padding:49px;
}

section.section-customer-support {
	margin-top:-2em;
	padding:49px;
}

section.section-cancel-plan {
	margin-top:-2em;
	padding:49px;
}

footer {
    background: black;
    height: 96px;
	}

	p.for-14-days {
    line-height: 59px;
    color: gray;
    text-align: center;
	}

	a.try-now {
    padding: 5px;
    color: white;
	}

	p.bottom-text {
    color: gray;
    text-align: center;
    margin-top: -26px;
	}

	a.unsplash {
    padding: 5px;
    color: white;
	}


		 

	/*-------------------------------MEDIA QUERIES----MIN-WIDTH-480PX------------------------------------------------------------- */
	@media (min-width:480px){
		section.img-placeholder {
	    overflow: hidden;
	    text-align: center;
	    padding: 2.3em 0 2.3em 0;
	    font-size: 2.2em;
	    font-weight: 100;
	    color: white;
	    background: url(../images/background.png) top left no-repeat;
	    height:238px;
		}

h2.simple-pricing {
    margin-top: 42px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.5em;
}

h2.try-before {
    margin-left: 22px;
    margin-top: -27px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: white;
}		
	section.pricing-section-2 {
    margin-top: 4.3125em;
    /* padding-right: 26px; */
    /* padding-left: 26px; */
    padding: 0 2em;
}

	section.pricing-image {
    width: 95%;
    height: 14em;
    background-color: #519251;
    margin-left: 1em;
    margin-top: -1.5em;
    padding: 1.25em 0;
}

section.pricing-image-3 {
    width: 95%;
    height: 14em;
    background-color: #2C498E;
    margin-left: 1em;
    margin-top: -1.5em;
    padding: 1.25em 0;
}

section.pricing-image-4 {
    width: 95%;
    height: 14em;
    background-color: black;
    margin-left: 1em;
    margin-top: -1.5em;
    padding: 1.25em 0;
}

h4.text-personal {
    text-align: center;
    line-height: 2em;
    letter-spacing: 3px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
}

h1.text-pricing {
    text-align: center;
    margin: -28px auto;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 6.5em;
}

h2.per-month {
    text-align: center;
    line-height: 3.95em;
    font-family: sans-serif;
    font-weight: 500;
    font-size: larger;
    color: #95A3C2;
    margin-top: 1.4375em;
}

ul {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    line-height: 3;
    background: #f7f7f7;
    border: 1px solid #dddddd;
    padding: 0;
    margin-top: -1em;
}

li {
    border-bottom: .0625em solid #e7e7e7;
    text-decoration: none;
}

.choose-button {
    background-color: white;
    height: 5.3125em;
    border-bottom: .0625em solid #dddddd;
    border-left: .0625em solid #dddddd;
    border-right: .0625em solid #dddddd;
    margin-top: -1em;;
}

button {
    margin-left: 38%;
    margin-top: 1.3125em;
    border-radius: .75em;
    background-color: white;
    border: .0625em solid grey;
    height: 2.625em;
    width: 24%;
}

section.pricing-section-4 {
    margin-top: 26.9375em;
    padding: 0 26px;
}

	}

	/*-------------------------------------------------------------------------------------------- */


@media (min-width:767px){
	section.pricing-image {
    width: 30%;
    height: 14em;
    background-color: #519251;
    margin-left: 2%;
    margin-top: -1.53em;
    padding: 1.25em 0;
    float: left;
}

section.pricing-image-3 {
    width: 30%;
    height: 14em;
    background-color: #2C498E;
    margin-left: 34%;
    margin-top: -24.2em;
    padding: 1.25em 0;
    float: left;
}

section.pricing-image-4 {
    width: 30%;
    height: 14em;
    background-color: black;
    margin-left: 66%;
    margin-top: -24.2em;
    padding: 1.25em 0;
    float: left;
}

section.section-get-started {
    margin-top: 316px;
    padding: 49px;
}
h2.get-started {
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 23px;
    text-align: left;
}
p.get-started-p {
    line-height: 23px;
}

section.section-get-started {
    margin-top: 680px;
    width: 336px;
}

section.section-pay-monthly {
    margin-top: -300px;
    width: 336px;
    margin-left: 46.6%;
}

section.section-customer-support {
    margin-top: -100px;
    width: 300px;
     
}

section.section-cancel-plan {
    margin-top: -334px;
    width: 336px;
    margin-left: 46.6%;
}

button {
    margin-left: 38%;
    margin-top: 1.3125em;
    border-radius: .75em;
    background-color: white;
    border: .0625em solid grey;
    height: 2.625em;
    width: 34%;
}

}

@media (min-width:979px){

	section.section-get-started {
    margin-top: 680px;
    width: 500px;
    margin-left: 200px;
}


section.section-pay-monthly {
    margin-top: -279px;
    width: 500px;
    margin-left: 700px;
}

section.section-customer-support {
    margin-top: -100px;
    width: 500px;
    margin-left: 201px;
}

section.section-cancel-plan {
    margin-top: -270px;
    width: 500px;
    margin-left: 700px;
}





}